<h6>Signed in as <%=@user.first_name%> <%=@user.last_name%></h6>

<h4>Storgie details</h4>
<div class="children">

    <ul>
      <li><p><%= @child.first_name %> <%= @child.last_name %></p>
          <p>Date Of Birth: <%= @child.dob %></p>
          <p>Gender: <%= @child.gender %></p>
          <p><%= link_to 'Edit', edit_child_path%></p>
          <p><%= link_to 'Delete', @child,
              method: :delete,
              data: { confirm: 'Are you sure?' } %></p>
      </li>
    </ul>

</div>
