<h1>Profile Page</h1>
<h3><%=@user.first_name%> <%=@user.last_name%></h3>

<div class="options">
  <%= link_to children_path do %>Children
    <%= image_tag("options.png")%>
  <% end %>
 </div>
 <div class="options">
   <%= link_to vaccines_path do %>Immunization Scheduler
     <%= image_tag("calendar.png")%>
   <% end %>
 </div>
 <div class="options">
   <%= link_to children_path do %>Parents Forum
     <%= image_tag("forum.jpg")%>
   <% end %>
 </div>
 <div class="options">
   <%= link_to children_path do %>First Words
     <%= image_tag("words.jpg")%>
   <% end %>
 </div>
 <div class="options" id="growth-chart">
   <%= link_to children_path do %>Growth Chart
     <%= image_tag("growthchart.png")%>
   <% end %>
 </div>
