<!DOCTYPE html>
<html>
  <head>
    <title>Storger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <nav>
      <ul>
        <% if user_signed_in? %>
          <li class='user'><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete  %></li>
        <% else %>

          <li>Already a user? <%= link_to 'Sign In',   new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="notice"><%= alert %></p>
    <%= yield %>

  </body>
</html>
